APP_NAME="Nover Services"

DB_HOST="aws-0-ap-southeast-1.pooler.supabase.com"
DB_NAME="postgres"
DB_USER="postgres.maaaljctymedaeejsdsq"
DB_PASSWORD="@noverApp123"
DB_PORT="6543"
DB_PROTOCOL="postgres"
DB_SSL_MODE="require"

JWT_SECRET_KEY="u3ixJEvKRpOAaqg87FAASn4jxi8E+JXTvSzOj/5Li1xIoHCgkYELXRbi54EkstmiIQPpFfF9ULPEG3IOnWnG4g=="

LOG_LEVEL="debug"
