basePath: /api
definitions:
  controllers.BankResponse:
    properties:
      bank_code:
        type: string
      bank_id:
        type: integer
      bank_name:
        type: string
    type: object
  controllers.ErrorResponse:
    properties:
      code:
        type: string
      message:
        type: string
    type: object
  controllers.LoginRequest:
    properties:
      password:
        example: password123
        type: string
      username:
        example: testuser
        type: string
    type: object
  controllers.LoginSuccessResponse:
    properties:
      token:
        type: string
      user:
        $ref: '#/definitions/tables.User'
    type: object
  fiber.Map:
    additionalProperties: true
    type: object
  tables.User:
    properties:
      account_number:
        type: string
      avatar_url:
        type: string
      bank_id:
        type: integer
      create_datetime:
        type: string
      email:
        type: string
      flg_author:
        type: string
      full_name:
        type: string
      instagram:
        type: string
      is_email_verified:
        type: boolean
      login_with:
        type: string
      password:
        type: string
      phone:
        type: string
      update_datetime:
        type: string
      user_code:
        type: string
      user_id:
        type: integer
      username:
        type: string
    type: object
host: localhost:8080
info:
  contact:
    email: support@noversystem.dev
    name: API Support
  description: Ini adalah dokumentasi API untuk Nover System.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Nover System API
  version: "1.0"
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      description: Mengotentikasi pengguna dengan username dan password, lalu memberikan
        JWT.
      parameters:
      - description: Kredensial Login dengan Username
        in: body
        name: login
        required: true
        schema:
          $ref: '#/definitions/controllers.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/controllers.LoginSuccessResponse'
        "400":
          description: Input tidak valid
          schema:
            $ref: '#/definitions/controllers.ErrorResponse'
        "401":
          description: Kredensial tidak valid
          schema:
            $ref: '#/definitions/controllers.ErrorResponse'
        "500":
          description: Error internal server
          schema:
            $ref: '#/definitions/controllers.ErrorResponse'
      summary: Login pengguna
      tags:
      - Authentication
  /auth/register:
    post:
      consumes:
      - application/json
      description: Membuat akun pengguna baru dengan email, username, dan password.
      parameters:
      - description: Informasi Registrasi Pengguna
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/tables.User'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/tables.User'
        "400":
          description: Input tidak valid
          schema:
            $ref: '#/definitions/controllers.ErrorResponse'
        "409":
          description: Email atau Username sudah terdaftar
          schema:
            $ref: '#/definitions/controllers.ErrorResponse'
        "500":
          description: Error internal server
          schema:
            $ref: '#/definitions/controllers.ErrorResponse'
      summary: Registrasi pengguna baru
      tags:
      - Authentication
  /v1/bank/get:
    get:
      consumes:
      - application/json
      description: Mengambil daftar semua bank yang aktif, diurutkan berdasarkan nama.
      produces:
      - application/json
      responses:
        "200":
          description: Daftar bank yang berhasil diambil
          schema:
            items:
              $ref: '#/definitions/controllers.BankResponse'
            type: array
        "500":
          description: Terjadi kesalahan internal pada server
          schema:
            $ref: '#/definitions/fiber.Map'
      summary: Daftar Bank
      tags:
      - Bank
swagger: "2.0"
